{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div class="container-fluid" id="main">
        <nav class="navbar navbar-expand-lg fixed-top bg-dark" id="navbar">
            <a class="navbar-brand" href="/">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-4">
                    <li class="nav-item">
                        <a class="nav-link" data-value="about_service" href="#">О сервисе</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-value="public_rooms" href="#">Публичные залы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-value="create-room" href="#">Создать зал</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main_container">
            <div class="row" style="margin-bottom: 30px">
                <div class="col-lg-3 col-md-4 bg-dark border border-dark rounded" id="account-info">
                    <div class="col-md-4 avatar">
                            <img src="">
                    </div>
                    <div class="col-md-8">
                        <span style="font-size: 28px" class="text-light">{{ user.username }}</span>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-3 bg-dark border border-dark rounded" id="friends">
                    <h5 class="text-light">Друзья</h5>
                    <div class="friend">
                        <div class="col-md-4 avatar">
                            <img src="">
                        </div>
                        <div class="col-md-4 info" style="align-items: flex-start">
                            <span class="text-light" style="font-size: 16px">Говноед</span>
                            <span class="text-light" style="font-size: 10px">Смотрит: Трезвый водитель</span>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}